<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="https://i.imgur.com/iYKmUvA.png">
    <script src="https://kit.fontawesome.com/68d8235f51.js" crossorigin="anonymous"></script>
    <style type="text/css">
        .blanco {
            color: white;
        }

        .negro {
            background-color: #1f1e1e;
        }

        .magenta {
            color: #b96acb;
        }

        .fmagenta {
            background-color: #8c509a;
        }

        .cuadrados {
            outline: 1px solid #d0d0d0;
        }

        .gris {
            background-color: #393939;
        }

        .amarillo {
            color: #ffc107;
        }
    </style>
    <title>Welcome to Mafiance</title>
</head>

<body>
    <section class="negro">
        <div class="container negro blanco">
            <div class="row">
                <div class="col-12 py-3 text-end">
                    <a href="/" type="button" class="btn-close btn-close-white" aria-label="Close"></a>
                </div>
                <div class="col-6 cuadrados gris py-5" style="border-radius: 30px;">
                    <h1>¡Registro Completado!</h1>
                    <h3>Ya formas parte de nuestra red ilegal, Compra, Vende y Regala criptoactivos.</h3>
                    <div class="text-center">
                        <img width="400" height="400" src="https://cryptologos.cc/logos/tether-usdt-logo.png" alt=""
                            srcset="">
                    </div>
                </div>
                <div class="col-6 cuadrados fmagenta py-5 text-center" style="border-radius: 30px;">
                    <img width="600" height="600" src="https://i.imgur.com/iYKmUvA.png" alt="" srcset="">
                </div>
                <div class="col text-center py-5">
                    <a href="/index" type="button" class="btn btn-outline-light btn-lg">Comenzar a trampear</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center pb-5 amarillo">
                    <p>Si busca más información sobre nosotros puede contactar al consulado de Taiwán - República de
                        China.</p>
                    <p>No dude en dejarnos su tarjeta de crédito para ayudarlo con sus cuotas.</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>