<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="https://static.thenounproject.com/png/40328-200.png">
    <style type="text/css">
        .blanco {
            color: white;
        }

        .negro {
            background-color: #292929;
        }

        .magenta {
            color: #b96acb;
        }

        .fmagenta {
            background-color: #8c509a;
        }
    </style>
    <title>Mafiance | Compra/Vende USDT</title>
</head>

<body>
    <section class="negro">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <a href="/index" type="button" class="btn btn-outline-light">Comprar criptos</a>
                    <a href="/login" type="button" class="btn btn-outline-light">Iniciar sesión</a>
                    <a href="/signin" type="button" class="btn btn-outline-light">Registrarse</a>
                </div>
            </div>
        </div>
        <div class="container blanco">
            <div class="row">
                <div class="col text-center">
                    <h1>Bienvenido a</h1>
                </div>
                <div class="row">
                    <div class="col-6 text-end mt-5 pt-3">
                        <h1 class="magenta">MAFIANCE</h1>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid" src="https://static.thenounproject.com/png/40328-200.png" alt="">
                    </div>
                    <hr>
                    <div class="col-6 py-3">
                        <h1>Compra, holdea y haz trading con la aplicación más insegura del mercado.</h1>
                        <h6 class="magenta">La inversión en criptoactivos no está regulada, puede no ser adecuada para
                            inversores
                            minoristas y perderse la totalidad del importe invertido.</h6>
                    </div>
                    <div class="col-3 pt-5 mt-4 px-5">
                        <a href="/login" type="button" class="btn btn-outline-light">¡Empecemos!</a>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid"
                            src="https://www.pngkey.com/png/full/182-1823859_h1z1s-playerbase-is-in-a-free-fall-market.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="col-12 pb-3">
                        <h1>Acerca de nosotros</h1>
                        <p>Esta aplicación tiene como objetivo desarrollar el aprendizaje del autor y que puedas hacer
                            tus transacciones fraudulentas tranquilo/a sin presión del estado pero te cobraremos
                            servicios de mantenimiento de cuenta altísimos, esperamos que disfrutes el trayecto. 🚀</p>
                    </div>
                </div>
                <hr>
                <div class="col text-center pb-5">
                    <small><strong>Todo el contenido tiene fin humorístico, no se tome nada de lo que vea a continuación
                            en serio, ni intente hacer transacciones reales.</strong></small>
                    <div>
                        <small>Develop by: Cthulhu © 2022</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>