<!DOCTYPE html>
<html lang="en">

<head>
    <metbuttoncharset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="https://static.thenounproject.com/png/40328-200.png">
        <style type="text/css">
            .blanco {
                color: white;
            }

            .negro {
                background-color: #1f1e1e;
            }

            .gris {
                background-color: #393939;
            }

            .magenta {
                color: #8c509a;
            }

            .fmagenta {
                background-color: #8c509a;
            }

            .cuadrados {
                outline: 1px solid #d0d0d0;
            }
        </style>
        <title>Mafiance</title>
</head>

<body>
    <section class="negro">
        <div class="container fmagenta  blanco" style="border-radius: 20px;">
            <div class="row py-4 text-center">
                <div class="col-2">
                    <a href="/profile">
                        <img width="100" height="100" src="https://i.imgur.com/iYKmUvA.png" alt="" srcset="">
                    </a>
                </div>
                <div class="col-2">
                    <nav class="navbar fmagenta pt-4">
                        <div class="container-fluid">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar">
                                <button class="btn btn-outline-light" type="submit">🔍</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="col-2">
                    <img width="100" height="100" src="https://cdn.icon-icons.com/icons2/1898/PNG/512/scan_121131.png"
                        alt="" srcset="">
                </div>
                <div class="col-2">
                    <img width="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/2449/PNG/512/headphones_head_set_chat_live_support_icon_148822.png"
                        alt="" srcset="">
                </div>
                <div class="col-2">
                    <img width="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/2807/PNG/512/notification_bell_icon_178938.png" alt=""
                        srcset="">
                </div>
                <div class="col-2">
                    <img width="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/3263/PNG/512/hand_coin_icon_206951.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>
    <section class="negro">
        <div class="container blanco py-3">
            <div class="row">
                <div class="col">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://estaticos-cdn.prensaiberica.es/clip/fb81a25d-67f1-458f-a09c-103fd744f500_16-9-discover-aspect-ratio_default_0.jpg"
                                    class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://blockchainguatemala.org/wp-content/uploads/2022/07/el-regulador-australiano-prueba-la-eliminacion-automatica-de-los-sitios-de-estafa-de-criptomonedas.jpg"
                                    class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.criptonoticias.com/wp-content/uploads/2021/09/robos-defi-dapps-1024x576.jpg"
                                    class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://i.pcmag.com/imagery/articles/06GJTmslGF10jd9FWGbI7jZ-1..v1638208999.jpg"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.news.bitcoin.com/wp-content/uploads/2022/02/binance-phishing-scam.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://btodigital.com/wp-content/uploads/2022/04/¿Comprar-casa-con-bitcoins-BTODigital.png"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row text-center py-5">
                <div class="col-2">
                    <img width="100" height="100" src="https://static.thenounproject.com/png/39980-200.png" alt="">
                    <h6 class="pt-3">Launchpad</h6>
                </div>
                <div class="col-2">
                    <img width="100" height="100" src="https://static.thenounproject.com/png/161182-200.png" alt="">
                    <h6 class="pt-3">Estrategias de trading</h6>
                </div>
                <div class="col-4">
                    <img width="100" height="100"
                        src="https://s3.amazonaws.com/iconbros/icons/icon_pngs/000/012/458/original/money_5514944.png?1632676157"
                        alt="">
                    <h6 class="pt-3">Depositar</h6>
                </div>
                <div class="col-2">
                    <img width="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/3263/PNG/512/vip_diamond_icon_206879.png" alt="">
                    <h6 class="pt-3">Ganar</h6>
                </div>
                <div class="col-2">
                    <img width="100" height="100"
                        src="https://cdn.iconscout.com/icon/free/png-512/options-1767904-1502157.png" alt="">
                    <h6 class="pt-3">Más</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="negro">
        <div class="container">
            <a href="/p2p" class="text-decoration-none">
                <div class="row cuadrados gris blanco" style="border-radius: 30px;">
                    <div class="col-12 py-4">
                        <h3>Comercio P2P</h3>
                    </div>
                    <div class="col-6">
                        <p>Transferencia bancaria, transferencia de billetera digital, pago móvil o depósitos en cuentas
                            de las bahamas, (cobramos el 40% de las transacciones directo de la billetera)</p>
                    </div>
                    <div class="col-2 text-center pb-3">
                        <img widht="100" height="100"
                            src="https://cdn.icon-icons.com/icons2/3263/PNG/512/exchange_icon_206963.png" alt="">
                    </div>
                    <div class="col-2 pt-4">
                        <h1 class="magenta">MAFIANCE</h1>
                    </div>
                    <div class="col-2 text-center">
                        <img widht="100" height="100" src="https://static.thenounproject.com/png/40328-200.png" alt="">
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col text-center py-5">
                    <a href="/index" type="button" class="btn btn-outline-light btn-lg">Favoritos</a>
                    <a href="/index" type="button" class="btn btn-outline-light btn-lg">Hot</a>
                    <a href="/index" type="button" class="btn btn-outline-light btn-lg">Ganadores</a>
                    <a href="/index" type="button" class="btn btn-outline-light btn-lg">Perdedores</a>
                    <a href="/index" type="button" class="btn btn-outline-light btn-lg">Volumen 24h</a>
                </div>
            </div>
            <hr>
            <div class="row py-3 blanco">
                <div class="col-4 text-center">
                    <div class="pb-4">
                        <small style="color: grey">Nombre</small>
                    </div>
                    <h3 class="pt-4">BNB</h3>
                    <h3 class="pt-4">BTC</h3>
                    <h3 class="pt-4">ETH</h3>
                    <h3 class="pt-4">USDT</h3>
                </div>
                <div class="col-4 text-center">
                    <div class="pb-4">
                        <small style="color: grey">Último precio</small>
                    </div>
                    <h4>279</h4>
                    <p>$279</p>
                    <h4>19,953.56</h4>
                    <p>$19,949.47</p>
                    <h4>1,598.25</h4>
                    <p>$1,598.20</p>
                    <h4>300</h4>
                    <p>$300</p>
                </div>
                <div class="col-4 text-center">
                    <div class="pb-4">
                        <small style="color: grey">Cambio % 24h</small>
                    </div>

                    <div class="pt-4">
                        <button type="button" class="btn btn-danger">-0.86%</button>
                    </div>
                    <div class="pt-4">
                        <button type="button" class="btn btn-danger">-1.76%</button>
                    </div>
                    <div class="pt-4">
                        <button type="button" class="btn btn-danger">-0.91%</button>
                    </div>
                    <div class="pt-4">
                        <button type="button" class="btn btn-danger">-15.95%</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container blanco">
            <div class="row cuadrados fmagenta py-3" style="border-radius: 30px;">
                <div class="col-3 text-end px-5">
                    <img widht="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/1790/PNG/512/homepage1_114609.png" alt="">
                    <h6 class="pt-2 px-4">Inicio</h6>
                </div>
                <div class="col-2 text-center">
                    <img widht="100" height="100"
                        src="https://i.pinimg.com/originals/46/89/02/468902fa6da7dd4a5c589c755361c53d.png" alt="">
                    <h6 class="pt-2">Mercados</h6>
                </div>
                <div class="col-2 text-center">
                    <img widht="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/390/PNG/512/crown-coin_38380.png" alt="">
                    <h6 class="pt-2">Trades</h6>
                </div>
                <div class="col-2 text-center">
                    <img widht="100" height="100"
                        src="https://cdn.icon-icons.com/icons2/3263/PNG/512/vip_crown_icon_206883.png" alt="">
                    <h6 class="pt-2">Futuros</h6>
                </div>
                <div class="col-3 px-5">
                    <img widht="100" height="100"
                        src="https://icons.veryicon.com/png/o/education-technology/cloud-platform-1/wallet-icon.png"
                        alt="">
                    <h6 class="pt-2 px-3">Billeteras</h6>
                </div>
            </div>
        </div>
    </section>
</body>

</html>