<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="https://static.thenounproject.com/png/40328-200.png">
    <style type="text/css">
        .blanco {
            color: white;
        }

        .negro {
            background-color: #1f1e1e;
        }

        .magenta {
            color: #8c509a;
        }

        .fmagenta {
            background-color: #8c509a;
        }
    </style>
    <title>Login | Mafiance</title>
</head>

<body>
    <section class="negro">
        {% if mensaje1 %}
        <div class="container py-2">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        {{mensaje1}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <form class="container blanco" action="/login/admins">
            <div class="row">
                <div class="col py-5 text-end">
                    <a href="/" type="button" class="btn-close btn-close-white" aria-label="Close"></a>
                </div>
            </div>
            <div class="row">
                <div class="col py-3 magenta">
                    <h1>Iniciar sesión</h1>
                </div>
                <label for="exampleFormControlInput1" class="form-label">
                    <h6>Email/número de teléfono</h6>
                </label>
                <input type="#" class="form-control" id="exampleFormControlInput1" placeholder="" name="email">
                <div class="col py-3 text-center">
                    <button type="submit" class="btn btn-outline-light btn-lg">Siguiente</button>
                </div>
                <div class="col-12 text-end magenta">
                    <p>(No apto para generación Z).</p>
                </div>
                <hr>
                <small class="text-center">o continuar con</small>
                <div class="col-12 pt-3 text-center">
                    <a href="#" type="button" class="btn btn-secondary btn-lg">Google</a>
                </div>
                <div class="col text-center pt-3 pb-5">
                    <a href="/signin" class="text-decoration-none magenta">
                        <h6>Crear cuenta, quiero unirme a la Mafiance</h6>
                    </a>
                </div>
            </div>
        </form>
    </section>
</body>

</html>