<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="https://i.imgur.com/iYKmUvA.png">
    <script src="https://kit.fontawesome.com/68d8235f51.js" crossorigin="anonymous"></script>
    <style type="text/css">
        .blanco {
            color: white;
        }

        .negro {
            background-color: #1f1e1e;
        }

        .magenta {
            color: #b96acb;
        }

        .fmagenta {
            background-color: #8c509a;
        }

        .cuadrados {
            outline: 1px solid #d0d0d0;
        }

        .amarillo {
            color: #ffc107;
        }
    </style>
    <title>Ordenes | Mafiance</title>
</head>

<body>
    <section class="negro blanco pb-5">
        <div class="container">
            <div class="row fmagenta py-3" style="border-radius: 20px;">
                <div class=" col-4">
                    <a href="/p2pBuyer">
                        <i class="fa-solid fa-arrow-left-long fa-3x blanco"></i>
                    </a>
                </div>
                <div class="col-4 text-center">
                    <h3>Todas las ordenes</h3>
                </div>
                <div class="col-4 text-end">
                    <i class="fa-regular fa-calendar-days fa-3x"></i>
                </div>
            </div>
            <!--Recordar:
                3. Hacer pop up de calendario.
                4. Que el icono de la doble hoja copie
                5. Registro de chat accediendo al icono. Con el nombre del comprador/vendedor
                6. Estado de la orden-->
            <div class="row mt-3 magenta">
                {% for o in orders %}
                <div class="col-3"></div>
                <div class="col-3 cuadrados py-3 mb-3" style="border-radius: 20px;">
                    <div class="col-6">
                        <h3 style="color:{{o['color']}};">{{o['type']}}</h3>
                    </div>
                    <div class="col-6">
                        <h3>{{o['currency']}}</h3>
                    </div>
                    <hr>
                    <p>Precio ARS$ {{o['fixed_price']}}</p>
                    <P class="amarillo">Monto {{o['client_quantity']}}</P>
                    <p>Orden ID {{o['_id']}}</p>
                    <i class="fa-solid fa-copy fa-2x"></i>
                    <hr>
                    <p>Anunciante mafioso:</p>
                    <h6 class="h6t-2 amarillo">{{o['advertiser_name']}}</h6>

                    <i class="fa-solid fa-comments fa-2x"></i>
                </div>
                <div class="col-3 py-3 mb-3 amarillo">
                    <p>{{o['status']}} ></p>
                    <p>{{o['created_at']}}</p>
                    <h3>{{o['valor_al_cambio']}}</h3>
                    <hr>
                </div>
                <div class="col-3"></div>
                {% endfor %}
            </div>
        </div>
    </section>

</body>

</html>