<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="https://i.imgur.com/iYKmUvA.png">
    <script src="https://kit.fontawesome.com/68d8235f51.js" crossorigin="anonymous"></script>
    <style type="text/css">
        .blanco {
            color: white;
        }

        .negro {
            background-color: #1f1e1e;
        }

        .magenta {
            color: #b96acb;
        }

        .fmagenta {
            background-color: #8c509a;
        }

        .cuadrados {
            outline: 1px solid #d0d0d0;
        }

        .rojo {
            color: red;
        }

        .verde {
            color: rgb(78, 203, 78);
        }

        .amarillo {
            color: #ffc107;
        }
    </style>
    <title>Ordenes | Mafiance</title>
</head>

<body>
    <section class="negro blanco pb-5">
        <div class="container">
            <div class="row fmagenta py-3" style="border-radius: 20px;">
                <div class=" col-4">
                    <a href="/p2pBuyer">
                        <i class="fa-solid fa-arrow-left-long fa-3x blanco"></i>
                    </a>
                </div>
                <div class="col-4 text-center">
                    <h3>Todas las ordenes</h3>
                </div>
                <div class="col-4 text-end">
                    <i class="fa-regular fa-calendar-days fa-3x"></i>
                </div>
            </div>
            <!--Recordar:
                1. Hacer que los nombres de "compra/venta" cambien y el tipo de moneda USDT/BTC. 
                2. Traer datos de ordenes.
                3. Hacer pop up de calendario.
                4. Que el icono de la doble hoja copie
                5. Registro de chat accediendo al icono. Con el nombre del comprador/vendedor
                6. Estado de la orden-->
            <div class="row mt-3 magenta">
                <div class="col-3"></div>
                <div class="col-3 cuadrados py-3" style="border-radius: 20px;">
                    <div class="col-6 rojo">
                        <h3>Venta</h3>
                    </div>
                    <div class="col-6">
                        <h3>USDT</h3>
                    </div>
                    <hr>
                    <p>Precio ARS$ 273.01</p>
                    <P class="amarillo">Monto 91.57 USDT</P>
                    <p>Orden ID 56789</p>
                    <i class="fa-solid fa-copy fa-2x"></i>
                    <hr>
                    <p class="pt-2 amarillo">User Name Freddy's Perdomo</p>
                    <i class="fa-solid fa-comments fa-2x"></i>
                </div>
                <div class="col-3 py-3">
                    <p>Completado ></p>
                    <p>09-14-2022</p>
                    <p>10:35:30</p>
                    <h3>ARS$ 25,000.00</h3>
                    <hr>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row mt-3 magenta">
                <div class="col-3"></div>
                <div class="col-3 cuadrados py-3" style="border-radius: 20px;">
                    <div class="col-6 verde">
                        <h3>Compra</h3>
                    </div>
                    <div class="col-6">
                        <h3>USDT</h3>
                    </div>
                    <hr>
                    <p>Precio ARS$ 273.01</p>
                    <P class="amarillo">Monto 91.57 USDT</P>
                    <p>Orden ID 56789</p>
                    <i class="fa-solid fa-copy fa-2x"></i>
                    <hr>
                    <p class="pt-2 amarillo">User Name Nelson Mandela</p>
                    <i class="fa-solid fa-comments fa-2x"></i>
                </div>
                <div class="col-3 py-3">
                    <p>Pendiente ></p>
                    <p>09-14-2022</p>
                    <p>10:35:30</p>
                    <h3>ARS$ 25,000.00</h3>
                    <hr>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </section>

</body>

</html>