<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="https://i.imgur.com/iYKmUvA.png">
    <script src="https://kit.fontawesome.com/68d8235f51.js" crossorigin="anonymous"></script>
    <style type="text/css">
        .blanco {
            color: white;
        }

        .negro {
            background-color: #1f1e1e;
        }

        .gris {
            background-color: #393939;
        }

        .magenta {
            color: #b96acb;
        }

        .fmagenta {
            background-color: #8c509a;
        }

        .cuadrados {
            outline: 1px solid #b96acb;
        }

        .amarillo {
            color: #ffc107;
        }
    </style>
    <title>Perfil Mafioso</title>
</head>

<body>
    <section class="negro">
        <div class="container negro">
            <div class="row pt-4">
                <div class="col-10">
                    <a href="/index">
                        <i class="fa-solid fa-arrow-left-long fa-3x blanco"></i>
                    </a>
                </div>
                <div class="col-1 text-end blanco">
                    <i class="fa-solid fa-sun fa-3x"></i>
                </div>
                <div class="col-1 text-end blanco">
                    <i class="fa-solid fa-headphones fa-3x"></i>
                </div>
            </div>
            <div class="row magenta py-3">
                <div class="col-1 fmagenta px-1" style="border-radius: 20px;">
                    <img width="100" height="100" src="https://i.imgur.com/iYKmUvA.png" alt="" srcset="">
                </div>
                <div class="col-4 px-5">
                    <h2>MAFIANCE - user name</h2>
                    <h6>Email: example@gmail.com</h6>
                    <h6>ID: (Número de ID)</h6>
                </div>
                <div class="col-1 amarillo text-center">
                    <h6>Usuario verificado</h6>
                    <i class="fa-solid fa-circle-check fa-3x"></i>
                </div>
            </div>
            <div class="row cuadrados pt-3 blanco" style="border-radius: 20px;">
                <div class="col-1">
                    <div class="pb-3">
                        <i class="fa-solid fa-clipboard fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-ticket-simple fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-user-plus fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-circle-dollar-to-slot fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-credit-card fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-gift fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-bell fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-money-bill-transfer fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-shield-halved fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-gear fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-circle-question fa-3x"></i>
                    </div>
                    <div class="pb-3">
                        <i class="fa-solid fa-share-nodes fa-3x"></i>
                    </div>
                </div>
                <div class="col-10 amarillo">
                    <div class="pb-4">
                        <h3>Centro de tareas</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Centro de recompensas</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Mi ID de referido</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Pay</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Tarjeta de regalo</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Mis regalos</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Notificaciones</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Métodos de pago</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Seguridad</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Ajustes</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Soporte y ayuda</h3>
                    </div>
                    <div class="pb-4">
                        <h3>Comparte la aplicación</h3>
                    </div>
                </div>
                <div class="col-1">
                    <div class="py-2">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                    <div class="py-3">
                        <i class="fa-solid fa-arrow-right-long fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col text-center">
                    <a href="/" type="button" class="btn btn-danger btn-lg">Cerrar sesión</a>
                    <p class="py-5 amarillo">Si no te gusta nuestra app siempre puedes quejarte con la de soporte las
                        24h,
                        o
                        llenarnos la casilla de mensajes: mafiance.inc@gmail.org</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>